html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: auto;
  -moz-font-smoothing: auto;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: auto;
  text-rendering: optimizeLegibility;
  font-smooth: always;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  font-family: "Inter Thight";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
